@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

body {
  background-color: #0c0c0c;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.l-viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

.l-wrapper {
  position: relative;
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}

.l-side-nav {
  position: absolute;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
}
.l-side-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  max-height: 750px;
  background-color: #555;
  opacity: 0.35;
  z-index: 10;
}
@media (max-width: 1180px) {
  .l-side-nav {
    display: none;
  }
}

.l-main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.device-notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  z-index: 12;
}
.device-notification--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.device-notification--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.device-notification--message {
  width: 70%;
  margin: 30px 0 0 0;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
  .device-notification {
    display: flex;
  }
}
@media (max-width: 736px) and (min-width: 360px) and (orientation: landscape) {
  .device-notification {
    display: flex;
  }
}
@media(max-width: 359px) {
  .device-notification {
    display: flex;
  }
}
.section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 0.4s ease-in-out 0.4s;
}
.section--next {
  transform: translateY(-45px);
  transition: transform 0.4s ease-in-out;
}
.section--prev {
  transform: translateY(45px);
  transition: transform 0.4s ease-in-out;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.header--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header--logo p {
  margin: 0 0 0 10px;
  font-size: 16px;
  font-weight: 700;
}
.header--nav-toggle {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header--nav-toggle span, .header--nav-toggle::before, .header--nav-toggle::after {
  content: "";
  position: relative;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.header--nav-toggle::before {
  bottom: 5px;
  width: 23px;
}
.header--nav-toggle::after {
  top: 5px;
  width: 23px;
}
.header--cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d61313;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}
.header--cta:focus {
  outline: none;
}
.header--cta.is-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out 0.4s;
}
@media (max-width: 767px) {
  .header--cta {
    display: none;
  }
}

.side-nav {
  position: relative;
  display: flex;
  width: 100px;
  height: 70%;
  max-height: 750px;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  z-index: 10;
}
.side-nav > li {
  position: relative;
  top: -5px;
  color: #fff;
  font-size: 6px;
  cursor: pointer;
}
.side-nav > li span {
  position: relative;
  top: 3px;
  left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}
.side-nav > li::before {
  position: absolute;
  top: 3px;
  left: 10px;
  color: #555;
  font-size: 14px;
  font-weight: 300;
}
.side-nav li:nth-child(1)::before {
  content: "01";
}
.side-nav li:nth-child(2)::before {
  content: "02";
}
.side-nav li:nth-child(3)::before {
  content: "03";
}
.side-nav li:nth-child(4)::before {
  content: "04";
}
.side-nav li:nth-child(5)::before {
  content: "05";
}
.side-nav li:nth-child(6)::before {
  content: "06";
}
.side-nav li.is-active {
  color: #d61313;
  transition: color 0.4s ease-in-out;
}
.side-nav li.is-active span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}
.side-nav li.is-active::before {
  left: -33px;
  color: #fff;
}

.intro {
  position: relative;
  display: flex;
  width: 900px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .intro {
    max-width: 100%;
  }
}
.intro--banner {
  position: relative;
  height: 475px;
}
.intro--banner::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -15px;
  right: 0;
  height: 2px;
  background-color: #282828;
}
.intro--banner::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #d61313;
}
.intro--banner h1 {
  position: relative;
  font-size: 65px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
}
.intro--banner h1 span {
  display: block;
}
.intro--banner h1 .h1_space_first {
  margin-left: 90px;
}
.intro--banner h1 .h1_space_second {
  margin-left: 200px;
}
.intro--banner button {
  position: relative;
  padding: 5px 17px 5px 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.intro--banner button .btn-background {
  position: absolute;
  top: 0;
  left: 23px;
  right: 0;
  height: 100%;
  background-color: #d61313;
  z-index: -1;
  transition: left 0.2s ease-in-out;
}
.intro--banner button:hover .btn-background {
  left: 0;
}
.intro--banner button:focus {
  outline: none;
}
.intro--banner button svg {
  position: relative;
  left: 5px;
  width: 15px;
  fill: #fff;
}
.intro--banner img {
  position: absolute;
  bottom: 21px;
  right: -12px;
}
.intro--options {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro--options > a {
  max-width: 250px;
  text-decoration: none;
  color: #282828;
  transition: color 0.2s ease-in-out;
}
.intro--options > a .fab {
  font-size: 45px;
}
.intro--options > a:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .intro--banner {
    height: 380px;
  }
  .intro--banner h1 {
    font-size: 55px;
  }
  .intro--banner h1 .h1_space_first {
    margin-left: 75px;
  }
  .intro--banner h1 .h1_space_second {
    margin-left: 165px;
  }
  .intro--banner img {
    width: 430px;
  }
}
@media (max-width: 900px) {
  .intro--banner {
    height: 356px;
  }
  .intro--banner h1 {
    font-size: 50px;
  }
  .intro--banner h1 .h1_space_first {
    margin-left: 66px;
  }
  .intro--banner h1 .h1_space_second {
    margin-left: 155px;
  }
  .intro--banner img {
    width: 430px;
  }
  .intro--options > a {
    margin-right: 30px;
  }
  .intro--options > a:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .intro--banner {
    height: 305px;
  }
  .intro--banner h1 {
    font-size: 44px;
  }
  .intro--banner img {
    width: 330px;
  }
  .intro--options > a {
    display: block;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .intro--options > a .fab {
    font-size: 30px;
  }
  .intro--options > a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .intro--banner {
    height: 360px;
  }
  .intro--banner::before {
    bottom: 14px;
  }
  .intro--banner::after {
    bottom: 13px;
  }
  .intro--banner h1 {
    font-size: 55px;
  }
  .intro--banner img {
    display: none;
  }
}
@media (max-width: 360px) {
  .intro--banner::before {
    left: 0px;
  }
  .intro--banner::after {
    left: 16px;
  }
  .intro--banner h1 {
    font-size: 40px;
    margin: 35px 0;
  }
  .intro--banner h1 .h1_space_first {
    margin-left: 70px;
  }
  .intro--banner h1 .h1_space_second {
    margin-left: 165px;
  }
}
.about {
  position: relative;
  display: flex;
  width: 960px;
  max-width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .about {
    max-width: 100%;
  }
}
.about h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
}
.about .about_list li {
  margin-bottom: 10px;
  margin-left: 40px;
}

@media (max-width: 900px) {
  .about_container {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .about .about_container {
    margin: 0;
    overflow: scroll;
    height: 70%;
  }
  .about .about_list li {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
.team_slider {
  position: relative;
  display: flex;
  width: 820px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .team_slider {
    max-width: 100%;
  }
}
.team_slider h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
}

.swiper-container {
  width: 100%;
  padding: 50px 0;
  overflow: visible;
}
.swiper-container h2 {
  text-align: left;
  margin: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 820px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.picture {
  width: 420px;
  height: 320px;
  overflow: hidden;
}
.picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  width: 100%;
  line-height: 25px;
}
.detail h3 {
  margin: 0;
  font-size: 20px;
}
.detail span {
  display: block;
  font-size: 16px;
  transition: 0.6s;
}

.swiper-button-next, .swiper-button-prev {
  background-size: 28px 65px;
  width: 25px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -75px;
  left: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23d61313'/%3E%3C/svg%3E");
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -75px;
  right: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23d61313'/%3E%3C/svg%3E");
}

.swiper-slide-shadow-right::after, .swiper-slide-shadow-left::after {
  background: black;
  background: linear-gradient(167deg, #0c0c0c 0%, rgba(12, 12, 12, 0.95) 49%);
  content: "";
  display: block;
  width: 820px;
  height: 320px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -30px;
    left: auto;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -30px;
    right: auto;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 620px;
  }
}
@media screen and (max-width: 600px) {
  .swiper-container h2 {
    text-align: center;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }

  .swiper-slide {
    width: 520px;
    margin: 0 auto;
    flex-direction: column;
  }

  .swiper-slide-shadow-right::after, .swiper-slide-shadow-left::after {
    width: 520px;
    height: 620px;
  }

  .picture {
    width: 77%;
    overflow: hidden;
  }
  .picture img {
    border-radius: 10px 10px 5px 5px;
  }

  .detail {
    padding: 20px 15px;
    font-weight: 600;
    width: 77%;
    line-height: 20px;
    box-sizing: border-box;
    background-color: rgba(150, 30, 30, 0);
    border-radius: 0 0 10px 10px;
    color: #e2dede;
    text-align: center;
  }
  .detail span {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .swiper-container h2 {
    line-height: 30px;
  }

  .swiper-slide {
    width: 420px;
  }

  .swiper-slide-shadow-right::after, .swiper-slide-shadow-left::after {
    background: linear-gradient(167deg, rgba(12, 12, 12, 0.95) 0%, rgba(12, 12, 12, 0.98) 49%);
    height: 100%;
  }

  .detail {
    padding: 10px;
    line-height: 20px;
  }
  .detail span {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .swiper-container {
    padding: 30px 0;
  }
  .swiper-container h2 {
    line-height: 30px;
    font-size: 25px;
  }

  .swiper-slide {
    width: 320px;
  }

  .detail span {
    padding: 0px 5px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .swiper-slide {
    width: 290px;
  }
}
.hub_slider {
  position: relative;
  display: flex;
  width: 820px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .hub_slider {
    max-width: 100%;
  }
}
.hub_slider h2 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.swiper-container {
  width: 100%;
  padding: 50px 0;
  overflow: visible;
}
.swiper-container h2 {
  text-align: left;
  margin: 0;
}

.hub_swiper_container {
  padding: 25px 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 820px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.picture {
  width: 420px;
  height: 320px;
  overflow: hidden;
}
.picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  width: 100%;
  line-height: 25px;
}
.detail h3 {
  margin: 0;
  font-size: 20px;
}
.detail span {
  display: block;
  font-size: 16px;
  transition: 0.6s;
}

.swiper-button-next, .swiper-button-prev {
  background-size: 28px 65px;
  width: 25px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -75px;
  left: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23d61313'/%3E%3C/svg%3E");
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -75px;
  right: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23d61313'/%3E%3C/svg%3E");
}

.swiper-slide-shadow-right::after, .swiper-slide-shadow-left::after {
  background: black;
  background: linear-gradient(167deg, #0c0c0c 0%, rgba(12, 12, 12, 0.95) 49%);
  content: "";
  display: block;
  width: 820px;
  height: 320px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -30px;
    left: auto;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -30px;
    right: auto;
  }
}
@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 620px;
  }
}
@media screen and (max-width: 600px) {
  .hub_slider h2 {
    font-size: 25px;
  }

  .swiper-container h2 {
    text-align: center;
  }

  .hub_swiper_container {
    padding: 0;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }

  .swiper-slide {
    width: 520px;
    margin: 0 auto;
    flex-direction: column;
  }

  .swiper-slide-shadow-right::after, .swiper-slide-shadow-left::after {
    width: 520px;
    height: 620px;
  }

  .picture {
    width: 77%;
    overflow: hidden;
  }

  .detail {
    padding: 20px 15px;
    font-weight: 600;
    width: 77%;
    line-height: 20px;
    box-sizing: border-box;
    background-color: rgba(150, 30, 30, 0);
    border-radius: 0 0 10px 10px;
    color: #e2dede;
    text-align: center;
  }
  .detail span {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hub_swiper_container {
    height: 90%;
  }

  .swiper-container h2 {
    line-height: 30px;
  }

  .swiper-slide {
    width: 420px;
  }

  .swiper-slide-shadow-right::after, .swiper-slide-shadow-left::after {
    background: linear-gradient(167deg, rgba(12, 12, 12, 0.95) 0%, rgba(12, 12, 12, 0.98) 49%);
    height: 100%;
  }

  .detail {
    padding: 10px;
    line-height: 20px;
  }
  .detail span {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .hub_slider h2 {
    font-size: 20px;
  }

  .hub_swiper_container {
    height: 80%;
  }

  .swiper-container h2 {
    line-height: 30px;
    font-size: 25px;
  }

  .swiper-slide {
    width: 320px;
  }

  .picture {
    height: 280px;
  }

  .detail span {
    padding: 0px 5px;
    text-align: center;
    font-size: 11px;
  }

  .hub_detail {
    width: 100%;
  }
  .hub_detail h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .swiper-slide {
    width: 290px;
  }
}
.hire {
  position: relative;
  display: flex;
  width: 820px;
  max-width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .hire {
    max-width: 100%;
  }
}
.hire h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  text-align: center;
}

.steps {
  font-family: "Quicksand", sans-serif;
}
.steps:active, .steps:focus {
  outline: none;
}

.wrapper {
  animation: fadeIn 0.8s;
}

.form_labels {
  display: block;
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
  opacity: 0;
  transition: all 1s;
}

.form_inputs {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  padding: 20px 10px 10px;
  color: #eee;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.08em;
  outline: none;
}

.form_btn {
  color: #333;
  background-color: #eee;
  border: none;
  padding: 0.5em;
  width: 9em;
  transition: 0.3s;
  margin: 0.2em;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.form_btn:hover {
  background-color: #ddd;
}

.input-bar {
  width: 80%;
  height: 1px;
  background-color: #555;
}

.progress-bar {
  width: 20%;
  height: 2px;
  background-color: #d61313;
}

.steps-navigation {
  float: right;
  padding: 30px;
}

.current label {
  opacity: 1;
  transition: all 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hub_choose {
  height: 80px;
  display: flex;
  justify-content: center;
}

.hubs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.hubs_input {
  margin-top: 150px;
}

.hubs p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.hub_name {
  margin-top: 0;
}

.hub_check {
  visibility: hidden;
}

.hub_img {
  width: 80px;
  height: 80px;
  transition: linear 0.6s;
}

.hub_img_active {
  width: 100px;
  height: 100px;
}

.hub_labels {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .hub_labels .hub_name {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .hub_labels {
    margin: 0 10px;
    cursor: pointer;
  }

  .hub_choose {
    height: 50px;
  }

  .hub_img {
    width: 55px;
    height: 55px;
    transition: linear 0.6s;
  }

  .hub_img_active {
    width: 65px;
    height: 65px;
  }

  .hub_labels .hub_name {
    font-size: 12px;
  }

  .form_inputs {
    width: 80%;
  }

  .input-bar {
    margin-left: 40px;
  }

  .progress-bar {
    width: 10%;
    margin-left: 40px;
  }

  .form_labels {
    font-size: 2em;
    margin-left: 40px;
  }

  .form_btn {
    width: 7em;
  }
}
@media screen and (max-width: 480px) {
  .hubs {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .hubs p {
    font-size: 20px;
  }

  .hub_img {
    width: 60px;
    height: 60px;
    transition: linear 0.6s;
  }

  .hub_img_active {
    width: 70px;
    height: 70px;
  }

  .hub_labels {
    margin: 0 2px;
    cursor: pointer;
  }

  .hub_labels .hub_name {
    font-size: 10px;
  }

  .hubs_input {
    margin-top: 100px;
  }
}
@media screen and (max-width: 360px) {
  .hubs {
    margin-top: 10px;
  }

  .hub_img {
    width: 45px;
    height: 45px;
    transition: linear 0.4s;
  }

  .hub_img_active {
    width: 55px;
    height: 55px;
  }

  .hub_labels .hub_name {
    font-size: 6px;
  }

  .hubs_input {
    margin-top: 80px;
  }
}
.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.perspective--modalview {
  position: fixed;
  perspective: 1500px;
}

.container {
  position: relative;
  transform: translateZ(0) translateX(0) rotateY(0deg);
  min-height: 100%;
  outline: 30px solid #d61313;
  transition: transform 0.4s;
}

.modalview .container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
}

.effect-rotate-left .container {
  transform-origin: 0% 50%;
  transition: transform 0.4s;
}
.effect-rotate-left--animate .container {
  transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  outline: 30px solid #d61313;
}

.outer-nav {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  visibility: hidden;
  transition: visibility 0s 0.2s;
}
.outer-nav.is-vis {
  visibility: visible;
}
.outer-nav--return {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  z-index: 11;
}
.outer-nav--return.is-vis {
  display: block;
}
.outer-nav > li {
  transform-style: preserve-3d;
  transform: translateX(350px) translateZ(-1000px);
  font-size: 55px;
  font-weight: 900;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}
.outer-nav > li.is-vis {
  transform: translateX(0) translateZ(0);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
}
.outer-nav > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 110%;
  height: 15px;
  opacity: 0;
  background-color: #d61313;
}
.outer-nav > li.is-active::before {
  opacity: 1;
}
.outer-nav li.is-vis:nth-child(2) {
  transition-delay: 0.04s;
}
.outer-nav li.is-vis:nth-child(3) {
  transition-delay: 0.08s;
}
.outer-nav li.is-vis:nth-child(4) {
  transition-delay: 0.12s;
}
.outer-nav li.is-vis:nth-child(5) {
  transition-delay: 0.16s;
}

@media (max-width: 900px) {
  .outer-nav > li.is-vis {
    font-size: 45px;
    font-weight: 900;
  }
}
@media (max-width: 767px) {
  .outer-nav > li.is-vis {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .outer-nav {
    left: 50%;
  }
  .outer-nav > li.is-vis {
    font-size: 35px;
  }
  .outer-nav > li.is-vis::before {
    width: 100%;
    height: 10px;
  }
}
@media (max-width: 480px) {
  .outer-nav {
    left: 50%;
  }
  .outer-nav > li.is-vis {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .outer-nav {
    left: 50%;
  }
  .outer-nav > li.is-vis {
    font-size: 20px;
  }
  .outer-nav > li.is-vis::before {
    height: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
